@using dihiddieDiary.Controllers
@using dihiddieDiary.Helpers
@using dihiddieDiary.Resources
@model dihiddieDiary.Models.Diary.PostViewModel
@{
    ViewBag.Title = "Новое сообщение";
}

<link href="~/Content/diary.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css">

@using (Html.BeginForm(nameof(DiaryController.CreateOrEdit), nameof(DiaryController).RemoveController(), new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal postcontainer" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-lg-1", style = "vertical-align: middle" })
        <div class="col-lg-11">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Введите заголовок" } })
        </div>
    </div>

    @Html.HiddenFor(model => model.Content, new { @class = "form-control", id = "messageValue" })
    <div id="summernote" class="note-editable"></div>

    <button type="submit" class="btn btn-success pull-right" onclick="saveNotification()">@SharedResources.SaveCaption</button>
}

@section styles
{
    @Styles.Render("~/Content/summernote")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/summernote")

    <script type="text/javascript">
        $(document).ready(function() {
            $('#summernote').summernote({ lang: "ru-RU"});
        });

        function saveNotification() {
            document.getElementById("messageValue").value = $('#summernote').summernote('code');
        }
    </script>
}   