@using System.ServiceModel.Description
@using dihiddieDiary.Controllers
@using dihiddieDiary.Helpers
@using dihiddieDiary.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - dihiddie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(SharedResources.Diary, nameof(DiaryController.Index), nameof(DiaryController).RemoveController())</li>
                <li>@Html.ActionLink(SharedResources.Creation, "Creation", "Home")</li>
                <li>@Html.ActionLink(SharedResources.Inspiration, "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()@*<hr/>
    <footer align="center">
        <p>&copy; @DateTime.Now.Year - dihiddie</p>
    </footer>*@
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

@*@section scripts{
    <script>
        $('.nav.navbar-nav > li').on('click', function (e) {
            e.preventDefault();
            $('.nav.navbar-nav > li').removeClass('active');
            $(this).addClass('active');
        });
    </script>
}*@
